* {
    margin: 0;
    font-family: 'Spectral SC', serif;
}

/* https://colorhunt.co/palette/fffbf5f7efe5c3acd0674188 */

body {
    background-color: #FFFBF5;
}

header {
    width: 100%;
    height: 75px;
    background-color: #CF7ECF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1, nav {
    margin: 25px;
    font-family: 'Cinzel Decorative', cursive;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CF7ECF;
}

main {
    margin: 10px;
    display: grid;
    grid-template-columns: 66% 1% 33%;
    grid-template-rows: 100%;
}

#card-mat {
    background-color: #F7EFE5;
    padding: 2.5%;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

aside {
    background-color: #F7EFE5;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: justify;
    text-align-last: center;
}

.tarot {
    height: 600px;
    width: 350px;
    background-color: #5C3892;
    border-radius: 20px;
}

#fortune_teller {
    display: block;
    height: 200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
}

#forms > form{
    margin-left: 25px;
    margin-right: 25px;
}

output {
    height: 100px;
    width: 10px;
}

button {
    border-radius: 50px;
    background-color: #C495EC;
    font-size: 20px;
    padding: 15px;
    font-weight: 600;

}

.out {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
    background-color: #FFFBF5;
    line-height: 1.33em;
    font-weight: 600;
}

#close-button {
    padding: 50px;
    font-size: 40px;
    font-weight: bold;
}

#art-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

}

.loader-on {
    margin: auto;
    border: 16px solid lightgray;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

#user-question {
    height: 50px;
    width: 300px;
    font-size: 18px;
}